{% extends "network/layout.html" %}
{% block body %}
    {{ userProfile }} has {{ userProfile.amountOfFollowers }} followers, and follows {{ userProfile.amountOfFollowees }} users.
    <br>
    {% if user.is_authenticated %}
        {% if user != user.Profile %}
            {% if userIsFollower %}
                <a href="{% url 'follow' userProfile %}"><h3>Unfollow?</h3></a>
            {% else %}
                <a href="{% url 'follow' userProfile %}"><h3>Follow?</h3></a>
            {% endif %}           
        {% endif %}
    {% endif %}
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <h2><a href="{% url 'profile' post.user%}">{{ post.user}}</a> posted {{ post.body }} at {{ post.timestamp }} with 
            {% if post.amountOfLikes == 1 %}
                1 like. 
            {% else %} 
                {{ post.amountOfLikes }} likes.
            {% endif %}
            </h2>
    {% endfor %}
{% endblock %}